/* Footer*/
.footer {
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;
}

.footer .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardSocial {
  animation: slideTop 0.8s ease-out;
  background: var(--primary);
  margin-left: .5rem;
  border-radius: 50%;
  padding: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}

.cardSocial:hover {
  background: var(--secundary);
  transform: translateY(-1rem);
}

.cardSocial img {
  width: 1.5rem;
  filter: invert(1);
}

@keyframes slideTop {
  0%{
    transform: translateY(calc(2rem * var(--i)));
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
