:root {
  --max-width: 1200px;
  --primary: #5533ff;
  --secundary: #ff2277;
  --alert: #dd6a0c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

